<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/app.css?v={{ date().timestamp }}">
  <title>
    {% if page.title is defined %}
      {{ page.title }} - {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
</head>
<body>
  <main class="content">
    {% block content %}{% endblock %}
  </main>
  {% include 'counters.twig' %}
  <script src="/app.js?v={{ date().timestamp }}"></script>
</body>
</html>
