{# Charset #}
<meta charset="utf-8">

{# Title #}
{% if page.title is defined %}
  <title>{{ page.title }} - {{ site.title }}</title>
{% else %}
  <title>{{ site.title }}</title>
{% endif %}

{# Description #}
{% if page.description is defined %}
  <meta name="description" content="{{ page.description }}">
{% elseif page.title is defined %}
  <meta name="description" content="{{ page.title }}">
{% endif %}

{% if page.keywords is defined and page.keywords %}
  {% if page.keywords is iterable %}
    <meta name="keywords" content="{{ page.keywords|join(',') }}">
  {% else %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
{% endif %}

{# Other meta fields #}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="yandex-verification" content="eb6443fccb57d7d2" />

{# Social #}
<meta property="og:site_name" content="Anton Vakhrushev">
<meta property="og:title" content="{{ page.og.title ?? page.title ?? site.title }}">
<meta property="og:description" content="{{ page.og.description ?? page.description ?? site.description ?? '' }}">
<meta property="og:url" content="{{ page.og.url ?? (site.url | trim('/', side='right')) ~ (page.url != '/.' ? page.url : '') }}">
<meta property="og:locale" content="ru_RU">

{# Links and styles #}
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400&display=swap&subset=cyrillic" rel="stylesheet">
