{# Charset #}
<meta charset="utf-8">

{# Title #}
{% if page.title is defined %}
  <title>{{ page.title }} - {{ site.title }}</title>
{% else %}
  <title>{{ site.title }}</title>
{% endif %}

{# Description #}
{% if page.description is defined %}
  <meta name="description" content="{{ page.description }}">
{% endif %}

{# Other meta fields #}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="yandex-verification" content="eb6443fccb57d7d2" />
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">

{# Social #}
<meta property="og:site_name" content="AntonVakhrushev">
<meta property="og:title" content="{{ page.title ?? site.title }}">
<meta property="og:description" content="{{ page.description ?? site.description ?? '' }}">
<meta property="og:url" content="{{ site.url | trim('/', side='right') }}{{ page.url != '/.' ? page.url : '' }}">
<meta property="og:locale" content="ru_RU">
